@use "variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    margin: auto;
    position: absolute;
    width: 100%;
    label {
        cursor: pointer;
    }
    &__menu {
        font-family: variables.$Barlow;
        font-weight: 600;
        font-size: 1.25rem;
        color: variables.$Dark-grayish-blue;
        display: none;
        flex-direction: column;
        gap: 1.5rem;
        position: absolute;
        width: 87.5vw;
        right: 6.25vw;
        left: 6.25vw;
        top: 100px;
        text-align: center;
        background-color: variables.$White;
        padding: 2.5rem 0;
        z-index: 1;
        &::after{
            content: "";
            width: 0; 
            height: 0;
            position: absolute;
            right: 0px;
            top: -20px;
            border-top: 50px solid transparent;
            border-right: 50px solid variables.$White;
        }
    }
    &__menu-link {
        &:nth-last-child(1) {
            font-family: variables.$Fraunces;
            font-weight: 900;
            font-size: 1rem;
            color: variables.$Black;
            background-color: variables.$Yellow;
            margin: auto;
            padding: 1rem 2rem;
            border-radius: 30px;
            text-transform: uppercase;
            cursor: pointer;
            transition: scale .2s ease;
            &:hover {
                scale: 1.05;
            }
        }
    }
    &__menu-checkbox:checked +.header__menu {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0rem 2.75rem;
        &__logo {
            width: 190px;
        }
        label {
            display: none;
        }
        &__menu {
            font-size: 1.25rem;
            font-weight: 400;
            color: variables.$White;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            position: static;
            width: fit-content;
            z-index: auto;
            &::after{
                display: none;
            }
        }
        &__menu-link {
            transition: scale .2s ease, border-bottom 50ms ease;
            &:hover {
                border-bottom: 2px solid variables.$White;
            }
            &:nth-last-child(1) {
                font-size: 1.1rem;
                background-color: variables.$White;
                padding: 1.25rem 2rem;
                border-radius: 40px;
                &:hover {
                    background-color: variables.$White-opacity;
                    border-bottom: none;
                }
            }
        }
    }
}