@use "variables";

.section-one {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 3rem;
    position: absolute;
    width: 100%;
    top: 21vh;
    &__title {
        font-size: 2.4rem;
        font-weight: 900;
        letter-spacing: 7px;
        color: variables.$White;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 768px) {
    .section-one {
        gap: 5rem;
        top: 200px;
        &__title {
            font-size: 3.5rem;
            letter-spacing: 10px;
            br {
                display: none;
            }
        }
    }
}