.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  margin: auto;
  position: absolute;
  width: 100%;
}
.header label {
  cursor: pointer;
}
.header__menu {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #818498;
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  width: 87.5vw;
  right: 6.25vw;
  left: 6.25vw;
  top: 100px;
  text-align: center;
  background-color: #ffffff;
  padding: 2.5rem 0;
  z-index: 1;
}
.header__menu::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0px;
  top: -20px;
  border-top: 50px solid transparent;
  border-right: 50px solid #ffffff;
}
.header__menu-link:nth-last-child(1) {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: #000;
  background-color: #fad400;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.header__menu-link:nth-last-child(1):hover {
  scale: 1.05;
}
.header__menu-checkbox:checked + .header__menu {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0rem 2.75rem;
  }
  .header__logo {
    width: 190px;
  }
  .header label {
    display: none;
  }
  .header__menu {
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    z-index: auto;
  }
  .header__menu::after {
    display: none;
  }
  .header__menu-link {
    transition: scale 0.2s ease, border-bottom 50ms ease;
  }
  .header__menu-link:hover {
    border-bottom: 2px solid #ffffff;
  }
  .header__menu-link:nth-last-child(1) {
    font-size: 1.1rem;
    background-color: #ffffff;
    padding: 1.25rem 2rem;
    border-radius: 40px;
  }
  .header__menu-link:nth-last-child(1):hover {
    background-color: rgba(255, 255, 255, 0.4235294118);
    border-bottom: none;
  }
}
.section-one {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 3rem;
  position: absolute;
  width: 100%;
  top: 21vh;
}
.section-one__title {
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 7px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-one {
    gap: 5rem;
    top: 200px;
  }
  .section-one__title {
    font-size: 3.5rem;
    letter-spacing: 10px;
  }
  .section-one__title br {
    display: none;
  }
}
.grid__text-one, .grid__text-two {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 4rem 1.5rem;
  text-align: center;
}
.grid__titles {
  font-size: 2rem;
  font-weight: 900;
  line-height: 40px;
}
.grid__paragraphs {
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #818498;
  padding: 0.5rem 0 1.5rem;
}
.grid__buttons {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: center;
  transition: scale 0.2s ease;
}
.grid__buttons::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 1px;
  height: 8px;
  width: 110%;
  opacity: 0.3;
  border-radius: 10px;
  background-color: #fad400;
  z-index: -1;
  transition: opacity 0.2s ease;
}
.grid__buttons:hover {
  scale: 1.05;
}
.grid__buttons:hover::after {
  opacity: 1;
}
.grid .second-btn::after {
  background-color: #fe7867;
}
.grid__cherries, .grid__tangerine {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 0;
  position: relative;
}
.grid__text-container {
  position: absolute;
  bottom: 30px;
  padding: 1.5rem 1rem;
  display: grid;
  gap: 1.5rem;
}
.grid__cherries-title, .grid__tangerine-title {
  font-size: 1.7rem;
  font-weight: 900;
  color: #25564b;
}
.grid__tangerine-title {
  color: #19536b;
}
.grid__cherries-paragraph, .grid__tangerine-paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #25564b;
}
.grid__tangerine-paragraph {
  color: #19536b;
}
.grid__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
  padding: 4rem 2rem;
}
.grid__testimonials img {
  width: 70px;
  border-radius: 50%;
  margin: auto;
}
.grid__testimonials-title {
  color: #a7abae;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.grid__testimonials-testimonial {
  display: grid;
  align-items: center;
  gap: 1rem;
}
.grid__testimonial-creator-container {
  display: grid;
  line-height: 30px;
}
.grid__testimonial {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  color: #5a636c;
  padding: 1rem 0;
}
.grid__testimonial-creator-name {
  font-size: 1.1rem;
  font-weight: 900;
}
.grid__testimonial-creator-position {
  color: #a7abae;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}
.grid__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .grid__egg {
    grid-area: 1/2;
  }
  .grid__text-one, .grid__text-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    max-width: 62%;
    margin: auto;
    padding: 0;
    text-align: start;
  }
  .grid__titles {
    font-size: 2.8vw;
    line-height: 50px;
  }
  .grid__paragraphs {
    font-size: 1.25vw;
    padding: 0.5rem 0 1.5rem;
  }
  .grid__buttons {
    font-size: 1.1vw;
  }
  .grid .second-btn::after {
    background-color: #fe7867;
  }
  .grid__text-container {
    max-width: 55%;
  }
  .grid__cherries-title, .grid__tangerine-title {
    font-size: 2vw;
  }
  .grid__cherries-paragraph, .grid__tangerine-paragraph {
    font-size: 1.2vw;
    font-weight: 600;
  }
  .grid__testimonials {
    grid-area: 4/1/5/3;
    display: grid;
    grid-template-columns: repeat(3, 0.28fr);
    justify-content: center;
    gap: 5rem 1.5rem;
    padding: 10rem 2rem;
  }
  .grid__testimonials-title {
    grid-area: 1/1/2/4;
    font-size: 1.25rem;
    letter-spacing: 5px;
  }
  .grid__testimonials-testimonial {
    display: grid;
    align-items: center;
    gap: 2.5rem;
  }
  .grid__gallery {
    grid-area: 5/1/6/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer {
  background-color: #99d3c7;
  padding: 4rem 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;
}
.footer__logo {
  width: 170px;
}
.footer__links-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__link {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #458c7e;
}
.footer__social-media-links-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0 0 0;
}
.footer__social-media-link {
  height: 20px;
  width: 20px;
  background: url("../../images/icon-facebook.svg") center center no-repeat;
  transition: background-image 0.2s ease, scale 0.2s ease;
}
.footer__social-media-link a:hover {
  opacity: 0;
}
.footer__social-media-link:hover {
  background: url("../../images/icon-facebook-white.svg") center center no-repeat;
  scale: 1.2;
  cursor: pointer;
}
.footer__social-media-link:nth-child(2) {
  background: url("../../images/icon-instagram.svg") center center no-repeat;
}
.footer__social-media-link:nth-child(2):hover {
  background: url("../../images/icon-instagram-white.svg") center center no-repeat;
}
.footer__social-media-link:nth-child(3) {
  background: url("../../images/icon-twitter.svg") center center no-repeat;
}
.footer__social-media-link:nth-child(3):hover {
  background: url("../../images/icon-twitter-white.svg") center center no-repeat;
}
.footer__social-media-link:nth-child(4) {
  background: url("../../images/icon-pinterest.svg") center center no-repeat;
}
.footer__social-media-link:nth-child(4):hover {
  background: url("../../images/icon-pinterest-white.svg") center center no-repeat;
}

@media screen and (min-width: 768px) {
  .footer__links-list {
    justify-content: center;
    gap: 3.5rem;
  }
  .footer__link {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    color: #458c7e;
    transition: color 0.2s ease;
  }
  .footer__link:hover {
    color: #ffffff;
  }
  .footer__social-media-links-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0 0 0;
  }
}
body {
  font-family: "Fraunces", sans-serif;
  display: grid;
  position: relative;
}/*# sourceMappingURL=style.css.map */